div.topic {
	background-color: #282828 !important;
}

body.media-landscape div.idx-holder div.Index {
    color: #505050;
}

body.media-landscape div.glo-holder div.Glossary {
    color: #505050;
}

body.media-mobile div.functionbar {
	z-index: 1 !important;
}

.GlossaryTermText {
	color: #444;
}

body.media-mobile div.idx-holder div.Index li.treeitem {
	color: #444;
}