@import url("https://use.typekit.net/alq1bmp.css");
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	background: #FFFFFF;
}
.loading {
	background-image: url("loading.gif");
}
div.overlay input[type=text]::-ms-clear {
	color: #fff;
}
div.overlay.search input[type=text]::-ms-clear {
	margin-right: 1.25rem;
}
div.header h1 {
	font-family: 'Bitter', Arial, Helvetica, sans-serif;
	color: #4F332F;
	font-size: 2.25rem!important;
	font-weight: 700;
}
div.header div.header-project-info {
	background: #FFFFFF;
}
div.header div.header-project-info a {
	color: #4F332F;
	text-decoration: none;
}
div.header div.header-project-info a:active {
	text-decoration: underline;
}
div.header div.header-nav {
	background: #795548;
	-moz-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
}
div.header a.breadcrumb-link {
	color: #FFFFFF;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}
div.header a.breadcrumb-link:hover {
	text-decoration: none;
	cursor: pointer;
	color: #66BB6A;
}
div.header span.separator {
	color: #FFFFFF;
}
div.header div.custom-link a {
	text-decoration: none;
	color: #4F332F;
	text-align: center;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.header div.custom-link a:active {
	text-decoration: none;
	color: #66BB6A;
}
div.header div.custom-link a:hover {
	text-decoration: none;
	color: #66BB6A;
}
body.media-tablet div.header-hamburger {
	background-color: #FFFFFF;
	cursor: pointer;
	background-image: url("coffee-menu.png");
	background-repeat: no-repeat;
	background-position: center center;
}
body.media-mobile div.header-hamburger {
	background-color: #FFFFFF;
	cursor: pointer;
	background-image: url("coffee-menu.png");
	background-repeat: no-repeat;
	background-position: center center;
}
div.footer {
	color: #999;
}
div.topic-content {
	background: #fff;
}
body.media-desktop div.topic-content {
	background: #fff;
	border-radius: .25rem;
}
div.frontpage-welcome {
	text-align: center;
}
div.frontpage-welcome h1 {
	font-family: 'Bitter', Arial, Helvetica, sans-serif;
	color: #4F332F;
	font-size: 2.250rem;
	font-weight: 700;
	line-height: 1;
}
div.frontpage-welcome p {
	color: #404040;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1;
}
body.media-desktop div.frontpage-welcome {
	text-align: center;
}
body.media-desktop div.frontpage-welcome h1 {
	font-size: 2.250rem;
	font-weight: 700;
}
body.media-desktop div.frontpage-welcome p {
	font-size: 1.125rem;
	font-weight: 400;
}
div.topicpage-search-field {
	background: #795548;
}
div.frontpage-search-field {
	background: #795548;
}
div.topicpage-search-field input.wSearchField {
	border: none;
	padding: 0 .625rem;
	color: #404040;
	font-size: 1rem;
	border-radius: .25rem;
}
div.frontpage-search-field input.wSearchField {
	font-family: 'Open Sans', sans-serif;
	border: none;
	padding: 0 .625rem;
	color: #404040;
	font-size: 1rem;
	border-radius: .25rem;
}
div.topicpage-search-field a.wSearchLink {
	background-image: url("coffee-search.png");
	background-repeat: no-repeat;
	background-position: center center;
}
div.frontpage-search-field a.wSearchLink {
	background-image: url("coffee-search.png");
	background-repeat: no-repeat;
	background-position: center center;
}
div.topicpage-search-field div.search-list {
	background-color: #FFFFFF;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	color: #404040;
	font-weight: normal;
}
div.frontpage-search-field div.search-list {
	background-color: #FFFFFF;
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
	color: #404040;
	font-weight: normal;
}
div.topicpage-search-field div.search-list table {
	border-collapse: collapse;
}
div.frontpage-search-field div.search-list table {
	border-collapse: collapse;
}
div.topicpage-search-field div.search-list tr {
	border: 0px solid;
	border-top-width: 0.0625rem;
	border-color: #DDDDDD;
}
div.frontpage-search-field div.search-list tr {
	border: 0px solid;
	border-top-width: 0.0625rem;
	border-color: #DDDDDD;
}
div.topicpage-search-field div.search-list tr:first-child {
	border-top: none;
}
div.frontpage-search-field div.search-list tr:first-child {
	border-top: none;
}
div.topicpage-search-field div.search-list tr.search-selected {
	text-decoration: underline !important;
}
div.frontpage-search-field div.search-list tr.search-selected {
	text-decoration: underline !important;
}
div.topicpage-search-field div.search-list div:hover {
	text-decoration: underline;
}
div.frontpage-search-field div.search-list div:hover {
	text-decoration: underline;
}
div.topicpage-search-field div.search-list div.search-delete {
	background-image: url("coffee-search-remove.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}
div.frontpage-search-field div.search-list div.search-delete {
	background-image: url("coffee-search-remove.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}
body.media-desktop div.frontpage-search-field {
	background: transparent;
	height: 70px;
}
body.media-desktop div.frontpage-search-field input.wSearchField {
	padding: 0 .625rem;
	border: 1px solid #cccccc;
	-moz-border-radius: 0.500rem;
	-webkit-border-radius: 0.500rem;
	border-radius: 0.500rem;
	-moz-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	color: #404040;
	font-size: 1.250rem;
	line-height: 1;
}
body.media-desktop div.frontpage-search-field input.wSearchField:focus {
	border: 1px solid #cccccc;
}
body.media-desktop div.frontpage-search-field a {
	background-image: url("coffee-search-desktop.png");
	background-repeat: no-repeat;
	background-position: center center;
}
body.media-desktop div.frontpage-search-field div.search-list {
	width: 640px;
	padding-top: 3px;
	margin-left: -1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
body.media-desktop div.topicpage-search-field {
	background: transparent;
}
body.media-desktop div.topicpage-search-field input.wSearchField {
	border: none;
	border-radius: 0.250rem;
	padding: 0.625rem;
	font-size: 1rem;
	color: #404040;
	border: 1px solid #cccccc;
}
body.media-desktop div.topicpage-search-field a {
	background-image: url("coffee-search-desktop.png");
	background-repeat: no-repeat;
	background-position: center center;
}
body.media-desktop div.topicpage-search-field div.search-list {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-top: 9px;
	-moz-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
}
body.media-tablet div.topicpage-function-buttons {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-tablet div.frontpage-function-buttons {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-mobile div.topicpage-function-buttons {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-mobile div.frontpage-function-buttons {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-tablet div.topicpage-function-buttons div.overlay-header div.title {
	color: #404040;
	text-transform: uppercase;
}
body.media-tablet div.frontpage-function-buttons div.overlay-header div.title {
	color: #404040;
	text-transform: uppercase;
}
body.media-mobile div.topicpage-function-buttons div.overlay-header div.title {
	color: #404040;
	text-transform: uppercase;
}
body.media-mobile div.frontpage-function-buttons div.overlay-header div.title {
	color: #404040;
	text-transform: uppercase;
}
body.media-tablet div.topicpage-function-buttons div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-tablet div.frontpage-function-buttons div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-mobile div.topicpage-function-buttons div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-mobile div.frontpage-function-buttons div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-tablet div.topicpage-function-buttons div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
body.media-tablet div.frontpage-function-buttons div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
body.media-mobile div.topicpage-function-buttons div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
body.media-mobile div.frontpage-function-buttons div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
body.media-tablet div.topicpage-function-buttons div.no-grid:first-child {
	border-top: .0625rem solid;
	border-top-color: #DDDDDD;
}
body.media-tablet div.frontpage-function-buttons div.no-grid:first-child {
	border-top: .0625rem solid;
	border-top-color: #DDDDDD;
}
body.media-mobile div.topicpage-function-buttons div.no-grid:first-child {
	border-top: .0625rem solid;
	border-top-color: #DDDDDD;
}
body.media-mobile div.frontpage-function-buttons div.no-grid:first-child {
	border-top: .0625rem solid;
	border-top-color: #DDDDDD;
}
body.media-tablet div.topicpage-function-buttons div.overlay-body div:not(.no-grid) {
	border-bottom: .0625rem solid;
	border-bottom-color: #DDDDDD;
}
body.media-tablet div.frontpage-function-buttons div.overlay-body div:not(.no-grid) {
	border-bottom: .0625rem solid;
	border-bottom-color: #DDDDDD;
}
body.media-mobile div.topicpage-function-buttons div.overlay-body div:not(.no-grid) {
	border-bottom: .0625rem solid;
	border-bottom-color: #DDDDDD;
}
body.media-mobile div.frontpage-function-buttons div.overlay-body div:not(.no-grid) {
	border-bottom: .0625rem solid;
	border-bottom-color: #DDDDDD;
}
body.media-tablet div.topicpage-function-buttons div.overlay-body div:not(.no-grid) a {
	display: inline-block;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .25rem .625rem;
	color: #404040;
	text-decoration: none;
}
body.media-tablet div.frontpage-function-buttons div.overlay-body div:not(.no-grid) a {
	display: inline-block;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .25rem .625rem;
	color: #404040;
	text-decoration: none;
}
body.media-mobile div.topicpage-function-buttons div.overlay-body div:not(.no-grid) a {
	display: inline-block;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .25rem .625rem;
	color: #404040;
	text-decoration: none;
}
body.media-mobile div.frontpage-function-buttons div.overlay-body div:not(.no-grid) a {
	display: inline-block;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .25rem .625rem;
	color: #404040;
	text-decoration: none;
}
body.media-tablet div.topicpage-function-buttons div.overlay-body div:not(.no-grid) a:active {
	color: #2F7D32;
}
body.media-tablet div.topicpage-function-buttons div.overlay-body div:not(.no-grid) a:hover {
	color: #2F7D32;
}
body.media-tablet div.frontpage-function-buttons div.overlay-body div:not(.no-grid) a:active {
	color: #2F7D32;
}
body.media-tablet div.frontpage-function-buttons div.overlay-body div:not(.no-grid) a:hover {
	color: #2F7D32;
}
body.media-mobile div.topicpage-function-buttons div.overlay-body div:not(.no-grid) a:active {
	color: #2F7D32;
}
body.media-mobile div.topicpage-function-buttons div.overlay-body div:not(.no-grid) a:hover {
	color: #2F7D32;
}
body.media-mobile div.frontpage-function-buttons div.overlay-body div:not(.no-grid) a:active {
	color: #2F7D32;
}
body.media-mobile div.frontpage-function-buttons div.overlay-body div:not(.no-grid) a:hover {
	color: #2F7D32;
}
body.media-tablet div.topicpage-function-buttons div.overlay-body div:not(.no-grid).filter-applied {
	background-image: url("coffee-tick-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-tablet div.frontpage-function-buttons div.overlay-body div:not(.no-grid).filter-applied {
	background-image: url("coffee-tick-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-mobile div.topicpage-function-buttons div.overlay-body div:not(.no-grid).filter-applied {
	background-image: url("coffee-tick-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-mobile div.frontpage-function-buttons div.overlay-body div:not(.no-grid).filter-applied {
	background-image: url("coffee-tick-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-desktop div.frontpage-function-buttons div.grid-buttons div {
	font-size: 0.875rem;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background: #66BB6A;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	overflow: hidden;
}
body.media-desktop div.topicpage-function-buttons div.grid-buttons div {
	font-size: 0.875rem;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	background: #66BB6A;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	overflow: hidden;
}
body.media-desktop div.frontpage-function-buttons div.grid-buttons div.filter-applied a {
	background-image: url("coffee-tick-button.png");
	background-position: 95% center;
	background-repeat: no-repeat;
	background-size: auto;
}
body.media-desktop div.topicpage-function-buttons div.grid-buttons div.filter-applied a {
	background-image: url("coffee-tick-button.png");
	background-position: 95% center;
	background-repeat: no-repeat;
	background-size: auto;
}
body.media-desktop div.frontpage-function-buttons div.grid-buttons div a {
	color: #fff;
	text-decoration: none;
}
body.media-desktop div.topicpage-function-buttons div.grid-buttons div a {
	color: #fff;
	text-decoration: none;
}
body.media-desktop div.frontpage-function-buttons div.grid-buttons div a:hover {
	color: #fff;
}
body.media-desktop div.topicpage-function-buttons div.grid-buttons div a:hover {
	color: #fff;
}
body.media-desktop div.frontpage-function-buttons div.grid-buttons div:hover {
	background: #2F7D32;
}
body.media-desktop div.topicpage-function-buttons div.grid-buttons div:hover {
	background: #2F7D32;
}
div.topicpage-toc li {
	color: #333333;
}
div.topicpage-toc li.selected {
	font-weight: bold;
	color: #66BB6A;
	background-image: url("coffee-topic-active.png");
	background-repeat: no-repeat;
	background-position: 0% center;
}
div.topicpage-toc a {
	text-decoration: none;
	color: inherit;
}
div.topicpage-toc a:hover {
	color: #66BB6A;
}
body.media-mobile div.topicpage-toc ul.page-toc {
	border-top: .1rem solid;
	border-top-color: #DDDDDD;
}
body.media-mobile div.topicpage-toc li {
	color: #404040;
}
body.media-mobile div.topicpage-toc li:not(.inactive):not(.child) {
	border-bottom: .1rem solid;
	border-bottom-color: #DDDDDD;
}
body.media-mobile div.topicpage-toc li a {
	color: #404040;
	text-decoration: none;
}
body.media-mobile div.topicpage-toc li a:active {
	color: #2F7D32;
}
body.media-mobile div.topicpage-toc li a:hover {
	color: #2F7D32;
}
body.media-mobile div.topicpage-toc li.selected {
	background-image: none;
	color: #2F7D32;
}
body.media-mobile div.topicpage-toc li.book:not(.expanded) {
	background-image: url("coffee-arrow-toc-drill-down.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-mobile div.topicpage-toc li.book:not(.expanded):hover {
	background-image: url("coffee-arrow-toc-drill-down-over.png");
}
body.media-mobile div.topicpage-toc li.book:not(.expanded):active {
	background-image: url("coffee-arrow-toc-drill-down-over.png");
}
body.media-mobile div.topicpage-toc li.book.expanded {
	background-image: url("coffee-arrow-toc-back.png");
	background-repeat: no-repeat;
	background-position: 0 center;
	font-weight: bold;
}
body.media-mobile div.topicpage-toc li.book.expanded:hover {
	background-image: url("coffee-arrow-toc-back-over.png");
}
body.media-mobile div.topicpage-toc li.book.expanded:active {
	background-image: url("coffee-arrow-toc-back-over.png");
}
body.media-tablet div.topicpage-toc li {
	color: #404040;
}
body.media-tablet div.topicpage-toc li.selected {
	background-image: url("coffee-topic-active-overlay.png");
	color: #2F7D32;
}
body.media-tablet div.topicpage-toc a:hover {
	color: #2F7D32;
}
div.frontpage-toc div {
	border-top-right-radius: .4rem;
	border-top-left-radius: .4rem;
	border-bottom-right-radius: .4rem;
	border-bottom-left-radius: .4rem;
	background-color: #FFFFFF;
	background-position: center 1.75rem;
	background-repeat: no-repeat;
	overflow: hidden;
	border: 1px solid #cccccc;
	border-color: #cccccc;
	-moz-border-radius: 0.375rem;
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
	-moz-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
}
div.frontpage-toc div:hover {
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #66BB6A;
	-moz-border-radius: 0.375rem;
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
	-moz-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
}
div.frontpage-toc div.book {
	background-image: url("coffee-toc-book.png");
}
div.frontpage-toc div.book:hover {
	background-image: url("coffee-toc-book-over.png");
}
div.frontpage-toc div.book.expanded {
	background-image: url("coffee-toc-back.png");
}
div.frontpage-toc div.book.expanded:hover {
	background-image: url("coffee-toc-back-over.png");
}
div.frontpage-toc div.item {
	background-image: url("coffee-toc-topic.png");
}
div.frontpage-toc div.item:hover {
	background-image: url("coffee-toc-topic-over.png");
}
div.frontpage-toc div.url {
	background-image: url("coffee-toc-external.png");
}
div.frontpage-toc div.url:hover {
	background-image: url("coffee-toc-external-over.png");
}
div.frontpage-toc a {
	text-decoration: none;
}
div.frontpage-toc span.label {
	font-size: 0.875rem;
	background: #FFFFFF;
	color: #999999;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	text-transform: uppercase;
	font-weight: 700;
}
div.frontpage-toc span.label:hover {
	background: #FFFFFF;
	color: #66BB6A;
}
body.media-tablet div.topicpage-toc {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-mobile div.topicpage-toc {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.index {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.glossary {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.filter {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.search {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.favorites {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.frontpage-search {
	background-color: #FFFFFF;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-tablet div.topicpage-toc div.overlay-header {
	color: #404040;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
body.media-mobile div.topicpage-toc div.overlay-header {
	color: #404040;
	-moz-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
	box-shadow: -0.125rem 0 0.125rem 0 #E0E0E0;
}
div.overlay.index div.overlay-header {
	color: #404040;
	font-weight: 700;
}
div.overlay.glossary div.overlay-header {
	color: #404040;
	font-weight: 700;
}
div.overlay.filter div.overlay-header {
	color: #404040;
	font-weight: 700;
}
div.overlay.filter div.overlay-header p {
	font-weight: 400;
}
div.overlay.search div.overlay-header {
	color: #404040;
	font-weight: 700;
}
div.overlay.favorites div.overlay-header {
	color: #404040;
	font-weight: 700;
}
div.overlay.frontpage-search div.overlay-header {
	color: #404040;
	font-weight: 700;
}
body.media-tablet div.topicpage-toc div.overlay-header div.title {
	text-transform: uppercase;
}
body.media-mobile div.topicpage-toc div.overlay-header div.title {
	text-transform: uppercase;
}
div.overlay.index div.overlay-header div.title {
	text-transform: uppercase;
}
div.overlay.glossary div.overlay-header div.title {
	text-transform: uppercase;
}
div.overlay.filter div.overlay-header div.title {
	text-transform: uppercase;
}
div.overlay.search div.overlay-header div.title {
	text-transform: uppercase;
}
div.overlay.favorites div.overlay-header div.title {
	text-transform: uppercase;
}
div.overlay.frontpage-search div.overlay-header div.title {
	text-transform: uppercase;
}
body.media-tablet div.topicpage-toc div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-mobile div.topicpage-toc div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
div.overlay.index div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
div.overlay.glossary div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
div.overlay.filter div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
div.overlay.search div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
div.overlay.favorites div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
div.overlay.frontpage-search div.overlay-header div.overlay-close a {
	cursor: pointer;
	background-image: url("coffee-cross-overlay.png");
	background-repeat: no-repeat;
	background-position: 100% center;
}
body.media-tablet div.topicpage-toc div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
body.media-mobile div.topicpage-toc div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
div.overlay.index div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
div.overlay.glossary div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
div.overlay.filter div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
div.overlay.search div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
div.overlay.favorites div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
div.overlay.frontpage-search div.overlay-header div.overlay-close a:hover {
	background-image: url("coffee-cross-overlay-over.png");
}
body.media-tablet div.topicpage-toc div.overlay-footer:before {
	background: #DDDDDD;
}
body.media-mobile div.topicpage-toc div.overlay-footer:before {
	background: #DDDDDD;
}
div.overlay.index div.overlay-footer:before {
	background: #DDDDDD;
}
div.overlay.glossary div.overlay-footer:before {
	background: #DDDDDD;
}
div.overlay.filter div.overlay-footer:before {
	background: #DDDDDD;
}
div.overlay.search div.overlay-footer:before {
	background: #DDDDDD;
}
div.overlay.favorites div.overlay-footer:before {
	background: #DDDDDD;
}
div.overlay.frontpage-search div.overlay-footer:before {
	background: #DDDDDD;
}
body.media-tablet div.topicpage-toc div.overlay-footer div {
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
body.media-mobile div.topicpage-toc div.overlay-footer div {
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.overlay.index div.overlay-footer div {
	text-transform: uppercase;
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.overlay.glossary div.overlay-footer div {
	text-transform: uppercase;
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.overlay.filter div.overlay-footer div {
	text-transform: uppercase;
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.overlay.search div.overlay-footer div {
	text-transform: uppercase;
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.overlay.favorites div.overlay-footer div {
	text-transform: uppercase;
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
div.overlay.frontpage-search div.overlay-footer div {
	text-transform: uppercase;
	background: #66BB6A;
	border-radius: .2rem;
	text-align: center;
	cursor: pointer;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 700;
}
body.media-tablet div.topicpage-toc div.overlay-footer div:hover {
	background: #2F7D32;
}
body.media-mobile div.topicpage-toc div.overlay-footer div:hover {
	background: #2F7D32;
}
div.overlay.index div.overlay-footer div:hover {
	background: #2F7D32;
}
div.overlay.glossary div.overlay-footer div:hover {
	background: #2F7D32;
}
div.overlay.filter div.overlay-footer div:hover {
	background: #2F7D32;
}
div.overlay.search div.overlay-footer div:hover {
	background: #2F7D32;
}
div.overlay.favorites div.overlay-footer div:hover {
	background: #2F7D32;
}
div.overlay.frontpage-search div.overlay-footer div:hover {
	background: #2F7D32;
}
body.media-tablet div.topicpage-toc div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
body.media-mobile div.topicpage-toc div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
div.overlay.index div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
div.overlay.glossary div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
div.overlay.filter div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
div.overlay.search div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
div.overlay.favorites div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
div.overlay.frontpage-search div.overlay-footer div a {
	color: #fff;
	text-decoration: none;
}
body.media-tablet div.topicpage-toc div.overlay-footer div a:hover {
	color: #fff;
}
body.media-mobile div.topicpage-toc div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.index div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.glossary div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.filter div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.search div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.favorites div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.frontpage-search div.overlay-footer div a:hover {
	color: #fff;
}
div.overlay.search div.search-list {
	background: #FFFFFF;
	color: #404040;
	font-weight: normal;
	border: 1px solid #cccccc;
	-moz-border-radius: 0.500rem;
	-webkit-border-radius: 0.500rem;
	border-radius: 0.500rem;
	-moz-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	-webkit-box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
	box-shadow: 0 0.125rem 0.125rem 0 #E0E0E0;
}
div.overlay.search div.search-list table {
	border-collapse: collapse;
}
div.overlay.search div.search-list tr {
	border-style: solid;
	border-width: 0;
	border-top-width: 0.0625rem;
	border-color: #dddddd;
}
div.overlay.search div.search-list tr.search-selected {
	text-decoration: underline !important;
}
div.overlay.search div.search-list tr div:hover {
	text-decoration: underline;
	color: #404040;
}
div.overlay.search div.search-list tr:first-child {
	border-top-width: 0;
}
div.overlay.search div.search-list tr div.search-delete {
	background-image: url("coffee-search-remove.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}
div.overlay.search div.search-options {
	font-size: .9rem;
	color: #fff;
}
div.overlay.search label.highlight-search {
	position: relative;
}
div.overlay.search label.highlight-search input[type=checkbox] {
	display: none;
}
div.overlay.search label.highlight-search span.checkbox-bg {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: transparent;
	background-image: url("coffee-check-box.png");
	background-repeat: no-repeat;
	background-size: contain;
}
div.overlay.search label.highlight-search input[type=checkbox]:checked+span.checkbox-bg {
	background-image: url("coffee-check-box-selected.png");
}
div.overlay.search label.highlight-search span.checkbox-bg+span {
	position: relative;
	top: -.02rem;
	color: #404040;
}
div.overlay.search input.wSearchField {
	background: #FFFFFF;
	color: #404040;
	border: 1px solid #CCCCCC;
	border-radius: .25rem !important;
	padding: 0 .625rem;
}
div.overlay.search a.wSearchLink {
	background-image: url("coffee-search.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}
div.overlay.search a.nolink {}
div.overlay.search a.nolink[href^='http'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-topics.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href^='file'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-topics.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.doc'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-documents.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.odt'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-documents.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.rtf'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-documents.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.ppt'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-presentations.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.odp'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-presentations.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.xls'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-spreadsheets.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.ods'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-spreadsheets.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.txt'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-text-files.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.pdf'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-pdfs.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search a.nolink[href*='.htm'] div.wSearchResultTitle {
	background-image: url("coffee-search-results-topics.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
	padding-left: 1.5rem;
	min-height: 1rem;
	line-height: 1rem;
}
div.overlay.search div.wSearchMessage {
	font-size: .9rem;
	color: #404040;
	border-bottom-width: .1rem;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
}
div.overlay.search div.wSearchResultItem a {
	color: inherit;
	text-decoration: none;
}
div.overlay.search div.wSearchResultItem div.wSearchResultTitle {
	color: #404040;
	font-weight: bold;
}
div.overlay.search div.wSearchResultItem span.wSearchContext {
	color: #404040;
	line-height: 1.5rem;
}
div.overlay.search div.wSearchResultItem div.wSearchURL {
	color: #66BB6A;
}
div.overlay.search div.wSearchResultItem div.wSearchURL:hover {
	text-decoration: underline;
}
div.overlay.search div.wSearchResultsEnd {
	font-size: .9rem;
	color: #404040;
}
div.overlay.filter div.title.filter-applied:after {
	background-image: url("coffee-tick-overlay.png");
}
div.overlay.filter div.reset-button a {
	background-color: #66BB6A;
	color: #fff;
	border-radius: .2rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
div.overlay.filter div.reset-button a:hover {
	background-color: #2F7D32;
	color: #fff;
	border-radius: .2rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
div.overlay.filter label.tag-parent {
	color: #404040;
	border-bottom: 1px solid;
	border-bottom-color: #DDDDDD;
	font-weight: 700;
}
div.overlay.filter li.item {
	color: #404040;
}
div.overlay.filter ul.checkbox li.item label {
	background-image: url("coffee-check-box.png");
}
div.overlay.filter ul.checkbox li.item label.checked {
	background-image: url("coffee-check-box-selected.png");
}
div.overlay.filter ul.radio li.item label {
	background-image: url("coffee-radio-button.png");
}
div.overlay.filter ul.radio li.item label.checked {
	background-image: url("coffee-radio-button-selected.png");
}
div.overlay.index a {
	cursor: pointer;
}
div.overlay.glossary a {
	cursor: pointer;
}
div.overlay.index a:focus {
	border: .0625rem solid;
	border-color: #3BB4D5;
}
div.overlay.glossary a:focus {
	border: .0625rem solid;
	border-color: #3BB4D5;
}
div.overlay.index li.IndexAlphabet {
	display: none;
}
div.overlay.index li.GloAlphabet {
	display: none;
}
div.overlay.glossary li.IndexAlphabet {
	display: none;
}
div.overlay.glossary li.GloAlphabet {
	display: none;
}
div.overlay.index input.IdxFilter {
	background: #FFFFFF;
	color: #404040;
	border: 1px solid #cccccc;
	-moz-border-radius: 0.375rem;
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
}
div.overlay.glossary input.GloFilter {
	background: #FFFFFF;
	color: #404040;
	border: 1px solid #cccccc;
	-moz-border-radius: 0.375rem;
	-webkit-border-radius: 0.375rem;
	border-radius: 0.375rem;
}
div.overlay.index span:not(.GlossDefinitionText) {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}
div.overlay.index div.overlay-body a {
	display: inline-block;
	color: #404040;
	text-decoration: none;
	line-height: 1;
	font-weight: 600;
}
div.overlay.glossary span:not(.GlossDefinitionText) {
	display: inline-block;
	color: #404040;
	text-decoration: none;
}
div.overlay.glossary div.overlay-body a {
	display: inline-block;
	color: #404040;
	text-decoration: none;
	line-height: 1;
	font-weight: 600;
}
div.overlay.index span:not(.GlossDefinitionText):hover {
	background: #3BB4D5;
	border-radius: 0.125rem;
}
div.overlay.index div.overlay-body a:hover {
	background: #ffffff;
	border-radius: 0.125rem;
	color: #66BB6A;
}
div.overlay.glossary span:not(.GlossDefinitionText):hover {
	background: #ffffff;
	border-radius: 0.125rem;
	color: #66BB6A;
}
div.overlay.glossary div.overlay-body a:hover {
	background: #FFFFFF;
	border-radius: 0.125rem;
	color: #66BB6A;
}
div.overlay.index span.GlossDefinitionText {
	color: #404040;
	font-size: .9rem;
}
div.overlay.glossary span.GlossDefinitionText {
	color: #404040;
	font-size: .9rem;
}
div.overlay.favorites div.overlay-body span {
	color: #404040;
}
div.overlay.favorites div.favoritestableintro {
	color: #404040;
	border-bottom: #DDDDDD;
	font-weight: 700;
}
table.favoritesholder td.favorite a {
	display: inline-block;
	color: #404040;
	text-decoration: none;
	line-height: 1;
	font-weight: 600;
}
table.favoritesholder td.favorite a:hover {
	color: #66BB6A;
	background: #ffffff;
	border-radius: 0.125rem;
	background-color: #FFFFFF;
}
table.favoritesholder td.removelink a {
	background-image: url("coffee-bin-overlay.png");
	background-position: center top;
	background-repeat: no-repeat;
	cursor: pointer;
}
table.favoritesholder td.removelink a:hover {
	background-image: url("coffee-bin-overlay-over.png");
}
div.favorites.toggle-button a {
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
}
div.favorites.toggle-button a.favorite {
	background-image: url("coffee-bookmark-added.png");
}
div.favorites.toggle-button a.favorite:hover {
	background-image: url("coffee-bookmark-added-over.png");
}
div.favorites.toggle-button a.unfavorite {
	background-image: url("coffee-bookmark-add.png");
}
div.favorites.toggle-button a.unfavorite:hover {
	background-image: url("coffee-bookmark-add-over.png");
}
div.favorites.sidebar-button a {
	cursor: pointer;
	background-image: url("coffee-bookmarks.png");
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none;
}
div.favorites.sidebar-button a:hover {
	background-image: url("coffee-bookmarks-over.png");
}
div.brs_next a {
	text-decoration: none;
	background-color: #795548;
	background-image: url("coffee-arrow-next.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	border-radius: .25rem;
}
div.brs_next a:hover {
	background-image: url("coffee-arrow-next-over.png");
}
div.brs_next a:active {
	background-image: url("coffee-arrow-next-over.png");
}
div.brs_previous a {
	text-decoration: none;
	background-color: #795548;
	background-image: url("coffee-arrow-prev.png");
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	border-radius: .25rem;
}
div.brs_previous a:hover {
	background-image: url("coffee-arrow-prev-over.png");
}
div.brs_previous a:active {
	background-image: url("coffee-arrow-prev-over.png");
}
div.grid-buttons a:focus {
	outline-color: #fff;
	border: 0.13rem outset #425B71;
}
div.grid-buttons div:focus {
	outline-color: #fff;
}
div.header a:focus {
	outline-color: #fff;
}
div.header div:focus {
	outline-color: #fff;
}
div.frontpage-toc div.book a:focus {
	border: 0.13rem solid #3BBCE0;
}
div.frontpage-toc div.item a:focus {
	border: 0.13rem solid #3BBCE0;
}
div.frontpage-toc div.url a:focus {
	border: 0.13rem solid #3BBCE0;
}
body[dir=rtl] div.overlay-close a {
	background-position: 0 center !important;
}
body[dir=rtl] div.topicpage-toc li.selected {
	background-position: 100% center !important;
}
body[dir=rtl] body.media-mobile div.topicpage-toc li.book:not(.expanded) {
	background-position: 0% center;
}
body[dir=rtl] body.media-mobile div.topicpage-toc li.book.expanded {
	background-position: 100% center;
}
body[dir=rtl] body.media-desktop div.frontpage-function-buttons div.grid-buttons div.filter-applied a {
	background-position: 5% center;
}
body[dir=rtl] body.media-desktop div.topicpage-function-buttons div.grid-buttons div.filter-applied a {
	background-position: 5% center;
}
body[dir=rtl] div.brs_next a {
	background-image: url("coffee-arrow-prev.png");
}
body[dir=rtl] div.brs_previous a {
	background-image: url("coffee-arrow-next.png");
}
body[dir=rtl] div.overlay.search a.nolink[href^='http'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href^='file'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.doc'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.odt'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.rtf'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.ppt'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.odp'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.xls'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.ods'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.txt'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.pdf'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
body[dir=rtl] div.overlay.search a.nolink[href*='.htm'] div.wSearchResultTitle {
	background-position: right top;
	padding-left: 0;
	padding-right: 1.5rem;
}
div.overlay.search .wSearchResultPaginatorLabel{
	font-size: 0.9rem;
	color: #404040;
}
